

@mixin flex($hstart: flex-start, $vstart: flex-start,$direction: row) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $hstart;
    align-items: $vstart;
    flex-direction: $direction;
}





@keyframes clickme {
    from{
        transform: scale(0.9);
    }
    to{
        transform: scale(1);
    }
}