
/*  Color Palettes  */

$primary-color: #1d3557;
$secondary-color: #e63946;

$back-color:#000;
$dark-color: #333;

$white-color:#fff;
$light-color:#f1faee;


$dark-blue-color: $primary-color;
$blue-color: #457b9d;
$sky-blue-color: #a8dadc;
$light-blue-color: $light-color;

$success-color:#236d2d;
$danger-color: $secondary-color;
$warning-color:#f58b29;
$info-color: $blue-color;

$text-color:$back-color;


/*  Fonts Wariables */ 

$primary-font: "Roboto";
$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-black: 800;







