*{
    outline: none;
    box-sizing: border-box;
    font-family: $primary-font;
}

body{
    padding: 0px;
    margin: 0px;
    font-weight: 400;
    font-size: 12px;
}


.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-fluid{
    width: 100%;
    padding: 0 20px;
}


h1, h2, h3, h4, h5, h6{
    font-weight: 500;
    margin: 0;
}

hr{
    border: none;
    height: 1px;
    background-color: $border-color;
}
p{
    margin: 0;
    line-height: 1.5;
}
img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

//  Select Tag Customize

select,
::picker(select) {
  appearance: base-select;
}
select::picker-icon {
  color: $gray-color;
  transition: 0.4s rotate;
}
select:open::picker-icon {
  rotate: 180deg;
}
::picker(select) {
  border: none;
}
option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;

  border: 2px solid #ddd;
  background:$white-color;
  padding: 10px;
  transition: 0.4s;
}
option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

option:not(option:last-of-type) {
  border-bottom: none;
}

option:nth-of-type(odd) {
  background:$light-blue-color;
}

option:hover,
option:focus {
  background:$sky-blue-color;
}

.my-2{
    margin-block: 2rem;
}
