.btn{
    display: inline-flex;
    position: relative;
    text-decoration: none;
    border: none;
    background: $light-color;
    font-size: 12px;
    color: $dark-color;
    font-weight: $font-regular;
    padding-block: 10px;
    padding-inline: 14px;
    border-radius: 3px;
    cursor: pointer;
    


    &:active{
        animation: clickme 0.2s;
    }
}


